@use '../presets' as *;
@use '../mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 540px;

  @include md {
    max-width: 100%;
    text-align: left;
    align-items: left;
  }

  @include sm {
    max-width: 100%;
    text-align: left;
  }

  &__title {
    margin-bottom: 60px;
    margin: 0 0 44px;

    @include md {
      text-align: left;
      margin-bottom: 40px;
    }

    @include sm {
      text-align: left;
      margin-bottom: 24px;
    }
  }

  &__description {
    margin-bottom: 56px;
    color: $color-secondary;

    @include sm {
      margin-bottom: 32px;
      font-size: 0.9rem;
    }

    @include xs {
      font-size: 0.85rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-color: $color-primary;
    color: $color-white;
    letter-spacing: $letter-spacing;
    min-width: 225px;
    min-height: 65px;
    text-transform: uppercase;

    @include md {
      min-width: 200px;
      min-height: 55px;
      font-size: 1rem;
    }

    @include sm {
      min-width: 180px;
      min-height: 50px;
      font-size: 0.9rem;
    }

    @include xs {
      min-width: 150px;
      min-height: 45px;
      font-size: 0.8rem;
    }
  }
}