@use '../presets' as *;
@use '../mixins' as *;

.navbar {
  margin-bottom: 144px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-sm $gap-md;
    margin-left: calc(#{$gap-sm} * -1);

    @include md {
      justify-content: left;
      gap: $gap;
    }

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: $gap-sm;
    }

    @include xs {
      flex-direction: column;
      align-items: stretch;
      gap: $gap-sm;
    }
  }

  &__link {
    position: relative;
    display: block;
    letter-spacing: $letter-spacing;
    padding: $gap-sm;
    text-transform: uppercase;

    &--active {
      color: $color-primary;
      font-weight: $font-weight-medium;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: calc(#{$gap-sm} * -1);
      right: calc(#{$gap-sm} * -1);
      height: 3px;
      background-color: $color-primary;
      border-radius: 3px;
      transform: scaleX(0);
      transform-origin: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}